* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 5px 5px #6495ED;
  text-align: center;
  color: white;
  margin: 50px;
   
  font-size: 50px;
  
}

body {
  background-size: cover;
   min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  
}

 

.container {
 
display: flex;
height: 25vh;
margin: 5%;
justify-content: center;
text-align: center;
align-items: center;
font-size: 1.2rem;
font-style: oblique;
 


}

button {
   
  width: 250px;
  height: 50px;
  border-radius: 12px;
  text-align: center;
  justify-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  background: #ebedf4;
background: -webkit-radial-gradient(circle, #ebedf4 0%, #78bedc 100%);
background: radial-gradient(circle, #ebedf4 0%, #78bedc 100%); 
  cursor: pointer;
  font-weight: bold;  
}

.btn-container {
   
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: center;
}


.text {
  padding: 2rem;
  height: 200px;
  width: 300px;
  border-radius: 25% 25% 25% 25% / 26% 26% 24% 24%;
  background: #b3ffab;
  background: -webkit-radial-gradient(circle, #b3ffab 0%, #12fff7 100%);
  background: radial-gradient(circle, #b3ffab 0%, #12fff7 100%);
  color: grey; 
  border-radius: 15%;
  box-shadow: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-author {
   
  height: 22vh;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  
}

h2 {  
  color:  black;
  width: 300px;
  height: 90px;
  background: #E6E6FA;
  border-radius: 25% 25% 25% 25% / 26% 26% 24% 24%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

 
.container_btn {
   
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  
  
}

 
/* RESPONSIVE */

@media screen and (min-width 768px ) {
  .container_article {
    flex-direction: row;
    
  }
  }
    
